<div class="form-actions">
  <%= link_to(items_path, class: 'button radius') do %>
    <!-- <i class="fa fa-list"></i> -->
    &nbsp;Continue Shopping
  <% end %>
  &nbsp;&nbsp;

  <%= link_to(checkout_path, class: 'button radius alert') do %>
    <!-- <i class="fa fa-list"></i> -->
    &nbsp;Checkout
  <% end %>
  &nbsp;&nbsp;
  
</div>

