<!-- DEFINING VARIABLES TO BE USED IN SIDENAV, which should only appear once an employee has logged in-->

<div class="container">
  <div class="collection">
      <a class="collection-item"><%= link_to "Customers", customers_path %></a>
      <a class="collection-item"><%= link_to "Addresses", addresses_path %></a>
      <a class="collection-item"><%= link_to "Orders", orders_path %></a>
  </div>
</div>