<!-- TO DO: ADD CHECK MARK -> SET ORDERITEM SHIPPED_ON TO DATE.TODAY -->

<div class="row">
  <% if @unshipped_orders.empty? %>
    <h4>No items need to be shipped at this time.</h4>
  <% else %>
	  <h1>The Shipping List</h1>
	  <p>Here are the list of items that need to be shipped:</p>
	  <br>
	  <% @unshipped_orders.each do |order| %>

	    <div id="order_item_list">
	    <div class="small-7 columns">
	      <%= render partial: "partials/order_item_list", locals: {order_items: order.order_items} %>
	    </div></div>
	    <div class="small-5 columns">
	    <%= render partial: "partials/address_info", locals: {order: order, address: order.address} %>
	    </div><br>
	  <% end %>
  <% end %>
</div>