<div class="row">
	<div class="col s4">
		<h2>Contact</h2>
		<p class="supertiny">&nbsp;</p>
		<table class="table table-striped bordered">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Sina Siddiqi</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("sinas@andrew.cmu.edu", "Email", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-478-8458</td>
			</tr>
		</table>
	</div>
</div>