<div class="row">
	<div class="col s12 m8 l9">
		<h2>Privacy Policy</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales quam sed felis rhoncus euismod. Vestibulum tristique, lorem quis gravida mattis, neque mauris molestie ipsum, vel tristique mi elit at magna. Sed fringilla eleifend odio ac aliquet. Quisque aliquet id lectus nec scelerisque. Praesent facilisis est non felis euismod aliquet. Vivamus dignissim enim lectus, a tincidunt odio fermentum ut. Integer eleifend sollicitudin vulputate. Praesent id metus sem. Sed finibus urna ut velit porttitor pharetra. Suspendisse risus sem, dignissim ut sem vitae, lobortis semper ligula. Donec fermentum accumsan odio, eget accumsan justo feugiat vel.</p><p>Sed rutrum neque ac felis imperdiet fermentum. Cras consectetur, erat vitae rutrum facilisis, nunc orci consequat libero, quis commodo mi mi vel ex. Donec et urna quam. Praesent id rutrum mi, convallis mollis nunc. Pellentesque in quam felis. Phasellus eu tincidunt magna. Quisque egestas sollicitudin imperdiet. Nunc hendrerit congue mauris varius imperdiet. Nullam et dui tempor, commodo massa id, dapibus quam. In cursus ligula ac ex mollis egestas nec eget nulla. Sed condimentum erat tortor, ut vestibulum orci commodo vitae.</p>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>