<% unless @cart_order_items.empty? %>
  <div class="panel clearfix">
    <h4>Payment Details</h4><br>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td width="300">Subtotal</td>
          <td><%= number_to_currency subtotal %></td>
        </tr>

        <tr>
          <td width="300">Shipping Costs</td>
          <td><%= number_to_currency shipping %></td>
        </tr>
        <tr>
          <td width="300"><b>Grand Total</b></td>
          <td><b><%= number_to_currency grand_total %></b></td>
        </tr>
    </table>
    <%# render partial: "partials/cart_options", locals: {model_name: "order", object: @order}  %>
  </div>
<% end %>
