<% if logged_in? && !current_user.role?(:customer) %>
	<div class="panel clearfix">
	  <h3>Price History</h3>
	  <ul>
	      <% @price_history.each do |item_price| %>
	        <li><%= number_to_currency item_price.price %></li>
	      <% end %>
	    </ul>
	</div>

	<% if can? :update, @current_price %>
	  <%= link_to(new_item_price_path(@item), class: 'button radius') do %>
	    <!-- <i class="fa fa-pencil"></i> -->
	    &nbsp;<%= "Update Price" %>
	  <% end %>
	  &nbsp;&nbsp;
	<% end %>
    
<% end %>