<!-- <div class="row">
  <div class="medium-3 columns">
    <%= render partial: "item_filters" %>
  </div>
  <div class="medium-9 columns"> -->
  	<%= render partial: "partials/item_structure", locals: {model_name: "item", 
                                                         	primary: "active_items", 
                                                         	secondary: nil, 
                                                         	sidebar: nil} %>
<!--   </div>
</div> -->